body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.header {
    z-index: 99;
    /*保持显示在最上方*/
    width: 100%;
    background-color: #e9f6ffb3;
    border: 1px solid #c6e8ff;
    position: fixed;
    height: 4vh;
    backdrop-filter: blur(20px);
}

.left-panel {
    width: 26%;
    padding: 2%;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
    margin-top: 4vh;
    position: fixed;
    height: 96vh;
    overflow: hidden;
}

.right-panel {
    width: 70%;
    padding: 2%;
    margin-top: 4vh;
    margin-left: 30%;
}

.blog-post {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-position: 0px;
    transition: 0.3s ease;
}

.blog-post:hover {
    border: 1px solid var(--accentcolor);
    background: linear-gradient(-45deg, #fcfcfc 25%, var(--bgcolor) 25%, var(--bgcolor) 50%, #fcfcfc 50%, #fcfcfc 75%, var(--bgcolor) 75%);
    background-position: 5px;
    background-size: 40px 40px;
    /* 调整条纹宽度、高度 */
    padding-left: 15px;
}

.blog-post:hover h3 {
    color: var(--accentcolor);
}

.blog-post .goto {
    position: absolute;
    bottom: 4px;
    right: 4px;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    z-index: 10;
    font-size: 1px;
    background-color: var(--accentcolor);
    /* border: 1px solid var(--bgcolor); */
    color: #ffffff00;
    transition: 0.3s ease;
}

.blog-post:hover .goto {
    color: var(--accentcolor);
    background-color: var(--bgcolor);
    /* border: 1px solid var(--accentcolor); */
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    height: 21px;
    width: 64px;
}

.blog-post .tag {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 4px;
    border-radius: 4px;
    z-index: 10;
    background-color: var(--tagbgcolor);
    color: var(--tagtextcolor);
    border: 1px solid var(--accentcolor);
    transition: 0.3s ease;
}

.blog-post:hover .tag {
    right: 4px;
    background-color: var(--bgcolor);
    color: var(--tagbgcolor);
}

a {
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #399fff;
    transition: 0.3s ease;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    border: 1px solid #000000;
    background-color: #399fff;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

#refresh-btn:hover {
    /* 刷新一言按钮 */
    color: #399fff;
    transition: 0.3s ease;
}

#sentence:hover {
    /* 一言 */
    color: #399fff;
    transition: 0.3s ease;
}

img {
    filter: blur(5px);
    transition: 0.3s ease;
}